Задание №3 по курсу ИТМО "Python для анализа данных"
Елькина Константина Анатольевича

In [2]:
import pandas as pd
import numpy as np

# Считываем данные
df = pd.read_csv('train.csv')

In [3]:
# Выводим основную информацию о датасете
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
# Считаем процент выживаемости для каждого класса пассажиров
survival_rate = df.groupby('Pclass')['Survived'].mean() * 100
print(survival_rate)

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [5]:
# Ищем самое популярное мужское и женское имя на корабле
df['Name'] = df['Name'].apply(lambda x: x.split(',')[1].split()[1])
popular_male_name = df[df['Sex'] == 'male']['Name'].value_counts().idxmax()
popular_female_name = df[df['Sex'] == 'female']['Name'].value_counts().idxmax()
print(popular_male_name, popular_female_name)

William William

In [6]:
# Ищем самое популярное мужское и женское имя на корабле в каждом классе
popular_names_by_class = df.groupby(['Pclass', 'Sex'])['Name'].agg(lambda x: x.value_counts().idxmax())
print(popular_names_by_class)

Pclass  Sex
1       female       John
        male      William
2       female    William
        male      William
3       female       Anna
        male      William
Name: Name, dtype: object

In [7]:
# Выводим часть таблицы с пассажирами, возраст которых больше 44 лет
print(df[df['Age'] > 44])

     PassengerId  Survived  Pclass       Name     Sex   Age  SibSp  Parch  \
6              7         0       1    Timothy    male  54.0      0      0
11            12         1       1  Elizabeth  female  58.0      0      0
15            16         1       2      (Mary  female  55.0      0      0
33            34         0       2     Edward    male  66.0      0      0
52            53         1       1      Henry  female  49.0      1      0
..           ...       ...     ...        ...     ...   ...    ...    ...
857          858         1       1      Peter    male  51.0      0      0
862          863         1       1  Frederick  female  48.0      0      0
871          872         1       1    Richard  female  47.0      1      1
873          874         0       3     Victor    male  47.0      0      0
879          880         1       1     Thomas  female  56.0      0      1

         Ticket     Fare Cabin Embarked
6         17463  51.8625   E46        S
11       113783  26.5500  C103        S
15       248706  16.0000   NaN        S
33   C.A. 24579  10.5000   NaN        S
52     PC 17572  76.7292   D33        C
..          ...      ...   ...      ...
857      113055  26.5500   E17        S
862       17466  25.9292   D17        S
871       11751  52.5542   D35        S
873      345765   9.0000   NaN        S
879       11767  83.1583   C50        C

[115 rows x 12 columns]

In [8]:
# Выводим часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола
print(df[(df['Age'] < 44) & (df['Sex'] == 'male')])

     PassengerId  Survived  Pclass       Name   Sex   Age  SibSp  Parch  \
0              1         0       3       Owen  male  22.0      1      0
4              5         0       3    William  male  35.0      0      0
7              8         0       3      Gosta  male   2.0      3      1
12            13         0       3    William  male  20.0      0      0
13            14         0       3     Anders  male  39.0      1      5
..           ...       ...     ...        ...   ...   ...    ...    ...
883          884         0       2  Frederick  male  28.0      0      0
884          885         0       3      Henry  male  25.0      0      0
886          887         0       2     Juozas  male  27.0      0      0
889          890         1       1       Karl  male  26.0      0      0
890          891         0       3    Patrick  male  32.0      0      0

               Ticket    Fare Cabin Embarked
0           A/5 21171   7.250   NaN        S
4              373450   8.050   NaN        S
7              349909  21.075   NaN        S
12          A/5. 2151   8.050   NaN        S
13             347082  31.275   NaN        S
..                ...     ...   ...      ...
883  C.A./SOTON 34068  10.500   NaN        S
884   SOTON/OQ 392076   7.050   NaN        S
886            211536  13.000   NaN        S
889            111369  30.000  C148        C
890            370376   7.750   NaN        Q

[368 rows x 12 columns]

In [9]:
# Выводим количество n-местных кабин
df['Cabin'] = df['Cabin'].apply(lambda x: str(x).count(' ') + 1 if str(x) != 'nan' else np.nan)
print(df['Cabin'].value_counts())

Cabin
1.0    180
2.0     16
3.0      6
4.0      2
Name: count, dtype: int64